<ul class="menu menu-horizontal 
            w-full justify-center 
            bg-[#1EC7F4] text-white 
            gap-x-3 sm:gap-x-4 md:gap-x-6 lg:gap-x-10
            whitespace-nowrap
            [&>li>a]:text-lg">
  <li><a href="../index.html">Accueil</a></li>
  <li><a href="../pages/actualites.html">Actualités</a></li> 
  <li><a href="../pages/planning.html">Planning</a></li> 
  <li><a href="../pages/tarifs.html">Tarifs</a></li> 
  <li><a href="../pages/photos.html">Photos</a></li> 
  <li><!--<a href="../pages/contact.html">-->Contact</a></li> 
</ul>